git+https://github.com/huggingface/transformers.git@v4.57.1
webdriver-manager
huggingface_hub
python-dotenv
sentencepiece
qwen-vl-utils
gradio_modal
torchvision 
matplotlib
accelerate
num2words
pydantic 
requests
pillow
openai
spaces
einops
torch
peft
